<div class="container-fluid">
    <!-- Card stats -->
    <div class="row g-6 mb-20">
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card shadow border-0">
                <!-- Your existing content goes here -->
            </div>
        </div>
    </div>
    <div class="card shadow border-0 mb-7">
        <div class="card-header">
            <h5 class="mb-0">Add Question</h5>
        </div>
        
  
    <form [formGroup]="questionForm" (ngSubmit)="submitQuestion()">
        <div class="card-body">
      <!-- <div class="form-group">
        <label for="question">Question:</label>
        <textarea formControlName="question" id="question" rows="3" class="form-control"></textarea>
      </div> -->
      <div class="mb-3">
        <label for="examId" class="form-label">Exams</label>
        <select formControlName="examId" class="string optional form-control">
            <option disabled>Select Exam</option>  
            <option *ngFor="let exam of exams" [value]="exam.examId" >{{exam.examName}}</option>  
        </select>
        <div *ngIf="submitted && questionForm.get('examId')?.errors" class="text-danger mr-2">
          <div *ngIf="questionForm.get('examId')?.errors?.required">Exam is required.</div>
        </div>
      </div>
      
      <div class="mb-3">
        <label for="examName" class="form-label">Question</label>
        <textarea formControlName="question" id="question" rows="3" class="form-control"></textarea>
        <div *ngIf="submitted && questionForm.get('question')?.errors" class="text-danger mr-2">
            <div *ngIf="questionForm.get('question')?.errors?.required">Question Name is required.</div>
          </div> 
      </div>

      <div class="mb-3">
        <label for="options" class="form-label">Options:</label>
        <div *ngFor="let option of getOptionsControls(); let i = index">
          <input [formControl]="option" id="options{{ i }}" placeholder="Option {{ i + 1 }}" class="form-control mb-2">
          <div *ngIf="option.hasError('required') && option.touched" class="text-danger mr-2">
            Option {{ i + 1 }} is required.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="answer" class="form-label">Correct Option:</label>
        <select formControlName="answer" id="answer" class="form-control">
          <option *ngFor="let option of questionForm.get('options')?.value; let i = index" [value]="i+1">
            {{ 'Option ' + (i + 1) }}
          </option>
        </select>
        <div *ngIf="submitted && questionForm.get('answer')?.errors" class="text-danger mr-2">
            <div *ngIf="questionForm.get('answer')?.errors?.required">Please select the correct option.</div>
          </div>
      </div>
      
  
      <!-- <div class="form-group">
        <label for="correctOption">Correct Option:</label>
        <select formControlName="correctOption" id="correctOption" class="form-control">
          <option *ngFor="let option of questionForm.get('options')?.value; let i = index" [value]="i">
            {{ 'Option ' + (i + 1) }}
          </option>
        </select>
      </div> -->

        <!-- Align the buttons horizontally using a div -->
        <div class="mb-3 d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-secondary" routerLink="/admin/question">Back</button>
        </div>  

      <!-- <button type="submit" mat-raised-button color="primary">Submit Question</button> -->
    </div>
    </form>
</div>
</div>