<div class="jumbotron has--blue_gradient is--white_text">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <ul class="stately" id="themis">
            <li class="al" data-state="al">A</li>
            <li class="ak" data-state="ak">B</li>
            <li class="ar" data-state="ar">C</li>
            <li class="az" data-state="az">D</li>
            <li class="ca" data-state="ca">E</li>
            <li class="co" data-state="co">F</li>
            <li class="ct" data-state="ct">G</li>
            <li class="de" data-state="de">H</li>
            <li class="dc" data-state="dc">I</li>
            <li class="fl" data-state="fl">J</li>
            <li class="ga" data-state="ga">K</li>
            <li class="hi" data-state="hi">L</li>
            <li class="id" data-state="id">M</li>
            <li class="il" data-state="il">N</li>
            <li class="in" data-state="in">O</li>
            <li class="ia" data-state="ia">P</li>
            <li class="ks" data-state="ks">Q</li>
            <li class="ky" data-state="ky">R</li>
            <li class="la" data-state="la">S</li>
            <li class="me" data-state="me">T</li>
            <li class="md" data-state="md">U</li>
            <li class="ma" data-state="ma">V</li>
            <li class="mi" data-state="mi">W</li>
            <li class="mn" data-state="mn">X</li>
            <li class="ms" data-state="ms">Y</li>
            <li class="mo" data-state="mo">Z</li>
            <li class="mt" data-state="mt">a</li>
            <li class="ne" data-state="ne">b</li>
            <li class="nv" data-state="nv">c</li>
            <li class="nh" data-state="nh">d</li>
            <li class="nj" data-state="nj">e</li>
            <li class="nm" data-state="nm">f</li>
            <li class="ny" data-state="ny">g</li>
            <li class="nc" data-state="nc">h</li>
            <li class="nd" data-state="nd">i</li>
            <li class="oh" data-state="oh">j</li>
            <li class="ok" data-state="ok">k</li>
            <li class="or" data-state="or">l</li>
            <li class="pa" data-state="pa">m</li>
            <li class="ri" data-state="ri">n</li>
            <li class="sc" data-state="sc">o</li>
            <li class="sd" data-state="sd">p</li>
            <li class="tn" data-state="tn">q</li>
            <li class="tx" data-state="tx">r</li>
            <li class="ut" data-state="ut">s</li>
            <li class="va" data-state="va">t</li>
            <li class="vt" data-state="vt">u</li>
            <li class="wa" data-state="wa">v</li>
            <li class="wv" data-state="wv">w</li>
            <li class="wi" data-state="wi">x</li>
            <li class="wy" data-state="wy">y</li>
          </ul>
          <p class="small state_key">
            <span></span>
            Covered by Themis
          </p>
        </div>
        <div class="col-md-7 col-md-pull-5">
          <h1>We've got you covered</h1>
          <h2>Select your state below to get pass rates, dates, deadlines and course info – everything you need to crush the bar.</h2>
          <div class="row affirm_row">
            <div class="col-md-12">
              <span class="affirm_info"> Buy now, pay later with
                <img src="../../assets/images/black_logo-white_bg.jpg" width="54" height="21.5" class="img-responsive">
                <a class="affirm-site-modal" data-page-type="landing" aria-label="Learn more - Affirm Financing (opens in modal)" style="cursor: pointer;">Learn more</a>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <form>
                <select class="form-control state-selector">
                  <option value="Choose a state...">Choose a state...</option>
                                  <option value="Alabama">Alabama</option>
                                  <option value="Alaska">Alaska</option>
                                  <option value="Arizona">Arizona</option>
                                  <option value="Arkansas">Arkansas</option>
                                  <option value="California">California</option>
                                  <option value="Colorado">Colorado</option>
                                  <option value="Connecticut">Connecticut</option>
                                  <option value="District of Columbia">District of Columbia</option>
                                  <option value="Florida">Florida</option>
                                  <option value="Georgia">Georgia</option>
                                  <option value="Hawaii">Hawaii</option>
                                  <option value="Idaho">Idaho</option>
                                  <option value="Illinois">Illinois</option>
                                  <option value="Indiana">Indiana</option>
                                  <option value="Iowa">Iowa</option>
                                  <option value="Kansas">Kansas</option>
                                  <option value="Kentucky">Kentucky</option>
                                  <option value="Maine">Maine</option>
                                  <option value="Maryland">Maryland</option>
                                  <option value="Massachusetts">Massachusetts</option>
                                  <option value="Michigan">Michigan</option>
                                  <option value="Minnesota">Minnesota</option>
                                  <option value="Missouri">Missouri</option>
                                  <option value="Montana">Montana</option>
                                  <option value="Nebraska">Nebraska</option>
                                  <option value="Nevada">Nevada</option>
                                  <option value="New Hampshire">New Hampshire</option>
                                  <option value="New Jersey">New Jersey</option>
                                  <option value="New Mexico">New Mexico</option>
                                  <option value="New York">New York</option>
                                  <option value="North Carolina">North Carolina</option>
                                  <option value="North Dakota">North Dakota</option>
                                  <option value="Ohio">Ohio</option>
                                  <option value="Oklahoma">Oklahoma</option>
                                  <option value="Oregon">Oregon</option>
                                  <option value="Pennsylvania">Pennsylvania</option>
                                  <option value="Rhode Island">Rhode Island</option>
                                  <option value="South Carolina">South Carolina</option>
                                  <option value="South Dakota">South Dakota</option>
                                  <option value="Tennessee">Tennessee</option>
                                  <option value="Texas">Texas</option>
                                  <option value="Utah">Utah</option>
                                  <option value="Vermont">Vermont</option>
                                  <option value="Virginia">Virginia</option>
                                  <option value="Washington">Washington</option>
                                  <option value="West Virginia">West Virginia</option>
                                  <option value="Wisconsin">Wisconsin</option>
                                  <option value="Wyoming">Wyoming</option>
                                </select>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
  <div class="row stickem-container">
  <div class="stickem stickem-left">
    <div class="well text-center">
      <img class="img-circle" src="../../assets/images/section-3.jpg" alt="Themis Bar Review can help you pass the bar" width="225">
      <h3>Themis Bar Review can help you pass the bar!</h3>
      <p class="lead">Our nationally renowned bar review course has a few features we'd like to take a minute to brag about.</p>
      <p><a class="btn btn-primary btn-block" href="/faq">More Info</a></p>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-6">
    <h4>Published pass rates</h4>
    <p>We're the only national bar review provider that publishes pass rates every year.  Take a minute and <a href="/pass-rates">check out our students' success on their bar exams.</a></p>
    <hr>
    <h4>Proven teaching methodology with a history of success</h4>
    <p>
      Our <a href="/methodology">successful approach</a> embraces the best practices in online education pedagogy.  Five years and counting.  Looking for references?  We've got thousands.  Most of them are practicing attorneys now.
    </p>
    <hr>
    <h4>On-demand video lectures taught by world class professors</h4>
    <p>Take classes around your schedule, not ours.  And with great teachers like <a name="pamela_karlan_link" target="_blank" rel="nofollow" href="https://law.stanford.edu/directory/pamela-s-karlan/">Pamela Karlan</a>, <a name="john_jeffries_link" target="_blank" rel="nofollow" href="https://www.law.virginia.edu/faculty/profile/jcj3w/1176517">John Jeffries</a>, and <a name="sherman_clark_link" target="_blank" rel="nofollow" href="http://www.law.umich.edu/FacultyBio/Pages/FacultyBio.aspx?FacID=SJCLARK">Sherman Clark</a>.</p>
    <hr>
    <h4>UWorld's MBE QBank</h4>
    <p>Included with all Themis Bar Review courses, this robust question-based learning tool uses dynamic visuals and active-learning methods to help you master difficult legal principles and successfully analyze fact patterns on the MBE.</p>
    <hr>
    <h4>Directed Study<b>™</b></h4>
    <p>Daily task schedule from day one of your studies up to the bar exam.  Need to take a few days off?  No problem.  Directed study will adapt to work around your schedule to keep you on track.</p>
    <hr>
    <h4>Flex Study<b>™</b></h4>
    <p>So you can brush up on your favorite topics. (Or least favorite as the case may be)</p>
    <hr>
    <h4>Flexible online learning platform</h4>
    <p>Works around your schedule and on your devices.  On the web or for your iPad or Android tablet, plus e-reader outlines. <a href="/demo">Watch a short demo about these course features!</a></p>
    <hr>
    <h4>Unmatched customer service</h4>
    <p>Our entire team of bar exam gurus is standing by to help in any way we can. Please feel free to give us a call anytime. We're friendly.</p>
    <hr>
    <h4>Dedicated Essay Grader</h4>
    <p>You’ll receive personalized essay grading from one, dedicated attorney.  By tracking patterns in your writing and evaluating your progress, your essay grader will work with you to target your weaknesses and hone your writing skills.</p>
  </div>
</div>
</div>

<div class="container" style="margin-top: 120px;">
    <div class="row is--vert_center">
      <div class="col-md-6">
        <h3>Year after year</h3>
        <h4>More students are choosing Themis to help them pass their bar exams.</h4>
        <p>With the <a href="/pass-rates">published pass rates</a> and a reasonable price, the most difficult decision is which state bar exam to take.</p>
      </div>
      <div class="col-md-6 text-center">
        <img class="img-circle hidden-xs hidden-sm" src="../../assets/images/section-7.jpg" alt="Choosing Themis to help pass the bar." width="300">
      </div>
    </div>
</div>

<div class="container is--full_width is--testimonial">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <blockquote>
          <p>My constant dialogue with the Themis staff helped me avoid feeling overwhelmed and optimized my study time. Without the personalized support, quick response time and such a flexible/adaptable program, I would've been in heaps of trouble. I still cannot fathom why anyone would pay double or triple for an inferior product. Thanks Themis!</p>
          <footer>
            <em>Benjamin K., Northwestern University School of Law, Chicago, IL</em>
          </footer>
        </blockquote>
      </div>
      <div class="col-md-offset-2 col-md-8">
    
        <h4 class="text-center"><a class="" rel="nofollow" href="/testimonials">Read what our students have to say about Themis.</a></h4>
      </div>
    </div>
    </div>
    <app-three-choice-per-footer></app-three-choice-per-footer>