<div class="container">
    <div class="row">
<div class="col-lg-8 col-md-8 col-sm-8">
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <h2 class="blog-header">Trust, Transparency, Results: The How and Why of Themis Pass Rates</h2>
    <div class="pull-right">
      <div style="margin-left: 5px;">
        <img class="img-circle hidden-sm hidden-xs" src="../../assets/images/rebecca_petrilli.jpg" alt="Rebecca Petrilli" width="200">
      </div>
    </div>

    <h4 class="blog-author">Posted by Rebecca Petrilli on January 25, 2022</h4>
    <p>After ten years in the bar prep industry, <strong>Themis remains the only company to publish comprehensive,
        transparent, and trustworthy pass-rate data</strong>. If you have yet to check out our pass-rate
      information, you can find the numbers <a href="" target="_blank">here</a>. Themis calculates pass
      rates because we value transparency and student success, and to prove to students that our methodology
      works. In this post, we want to give you a chance to understand how we get the data for our pass rates and
      what that data means.</p>
    <p><a href="">Read more</a></p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <h2 class="blog-header">2L/3L Life: 10 Preach-Free Pieces of Advice for Almost Lawyers</h2>
    <div class="pull-right">
      <div style="margin-left: 5px;">
        <img class="img-circle hidden-sm hidden-xs" src="../../assets/images/rebecca_petrilli.jpg" alt="Rebecca Petrilli" width="200">
      </div>
    </div>

    <h4 class="blog-author">Posted by Rebecca Petrilli on Sep 17, 2018 10:20:05 AM</h4>
    <p>It’s a new school year and the semester is now in full swing. You survived a summer job or internship and are getting back to basics: reading cases, trying to avoid getting called on in class, and wondering how you’ll make it out of law school alive. As you navigate through this semester and beyond, it’s important to think about what you want to accomplish this year. What do you hope to achieve? What plans are you making for the future?</p>
    <p><a href="">Read more</a></p>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <h2 class="blog-header">Brutally Honest 1L Advice From A Brilliant, Bitterly Brunette Attorney</h2>
    <div class="pull-right">
      <div style="margin-left: 5px;">
        <img class="img-circle hidden-sm hidden-xs" src="../../assets/images/kathleen_turchi.jpg" alt="Kathleen Turchi" width="200">
      </div>
    </div>

    <h4 class="blog-author">Posted by Kathleen Turchi on Oct 1, 2018 2:32:18 PM</h4>
    <p>Everyone knows that someone has to be cold-called on first, but until Professor Margaret Howard pursed her
      lips and looked my way, I never really thought it would be me. “Ms. Sharpe, tell us about this case.” It was
      me, on my first day of law school, in my first class of law school, reciting the facts of Lucy v. Zehmer to
      the 5’1”, positively withering Professor Howard. The good news is I survived. You will survive your first
      cold call too, and, believe it or not, you’ll probably make it through the next three years. Here are some
      tips on coping with the stress from this massive, harrowing journey.</p>
    <p><a href="">Read more</a></p>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <h2 class="blog-header">Secrets To Breaking Through The 'Breaking Points' of Law School and Beyond</h2>
    <div class="pull-right">
      <div style="margin-left: 5px;">
        <img class="img-circle hidden-sm hidden-xs" src="../../assets/images/kathleen_turchi.jpg" alt="Katy Eddy" width="200">
      </div>
    </div>

    <h4 class="blog-author">Posted by Katy Eddy on Oct 12, 2018 4:21:32 PM</h4>
    <p>Whether you are at the top of your class or just scraping by, law school has a unique way of making you feel completely inadequate and insecure. These feelings are often unfamiliar because you excelled to get into law school in the first place. Everyone reaches their breaking point, those times when stress and anxiety fill you with the impending fear of not being <em>good enough</em>.</p>
    <p><a href="">Read more</a></p>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <h2 class="blog-header">Halloween Costumes That Only a Lawyer Could Love</h2>
    <div class="pull-right">
      <div style="margin-left: 5px;">
        <img class="img-circle hidden-sm hidden-xs" src="../../assets/images/sophie_dye.jpg" alt="Sophie Dye" width="200">
      </div>
    </div>

    <h4 class="blog-author">Posted by Sophie Dye Gayle on Oct 29, 2018 11:40:08 AM</h4>
    <p>Inviting strange children to your home after dark to feed them potential allergens and choking hazards? Displaying fake corpses and images of the occult? Hacking into giant gourds with huge, unsharpened kitchen knives, in close proximity to friends and loved ones?  It’s not surprising that Halloween has given rise to some pretty sensational lawsuits spanning all areas of the law. From products liability (who knew it would be a bad idea to light a cigarette when dressed as a cotton-ball-covered sheep?)1 to freedom of expression (shout out to the Seventh Circuit for protecting your right to talk smack about your neighbors via fake tombstone)2.  From the mundanity of premises liability (if you break your nose fleeing a haunted house right into a cinderblock wall, you’re on your own)3 to intellectual property (banana costume buyer, beware) 4.</p>
    <p><a href="">Read more</a></p>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <h2 class="blog-header">Holiday Party Etiquette Advice for Almost Lawyers</h2>
    <div class="pull-right">
      <div style="margin-left: 5px;">
        <img class="img-circle hidden-sm hidden-xs" src="" alt="Sarah Parker" width="200">
      </div>
    </div>

    <h4 class="blog-author">Posted by Sarah Parker on Dec 17, 2018 11:43:57 AM</h4>
    <p>‘Tis the season for holiday parties!  Remember that memories linger long after the champagne stops popping, so here are some friendly reminders to help you navigate these events with professional dignity.</p>
    <p><a href="">Read more</a></p>
  </div>
</div>

</div>
<div class="col-lg-4 col-md-4 col-sm-4 blog-recent-posts">
<h3>Recent Posts</h3>
<p><a href="/themis-blog/pieces_of_advice_for_almost_lawyers">2L/3L Life: 10 Preach-Free Pieces of Advice for Almost Lawyers</a></p>
<p><a href="/themis-blog/brutally_honest_1L_advice">Brutally Honest 1L Advice From A Brilliant, Bitterly Brunette Attorney</a></p>
<p><a href="/themis-blog/secrets_to_breaking_through_the_breaking_points_of_law_school">Secrets To Breaking Through The 'Breaking Points' of Law School and Beyond</a></p>
<p><a href="/themis-blog/halloween_costumes_that_only_a_lawyer_could_love">Halloween Costumes That Only a Lawyer Could Love</a></p>
<p><a href="/themis-blog/holiday_party_etiquette">Holiday Party Etiquette Advice for Almost Lawyers</a></p>
<p><a href="/themis-blog/how_and_why_of_themis_pass_rates">Trust, Transparency, Results: The How and Why of Themis Pass Rates</a></p>
</div>
</div>
  <!-- navigation -->
</div>
<app-three-choice-per-footer></app-three-choice-per-footer>