<div class="container">
    <div class="row text-center has--padding_ten">
  
        <div class="col-sm-4">
                <p>
              <img alt="Successfully pass the bar with our review course" class="hidden-sm hidden-xs img-circle" src="../../assets/images/section-13.jpg" width="180">
            </p>
            <h4>Study anywhere. Pass the bar.</h4>
          
                <p>
              <a href="/sign_in" class="btn btn-default">Learn more</a>
            </p>
            </div>
      
        <div class="col-sm-4">
                <p>
              <img alt="Get started passing the bar" class="hidden-sm hidden-xs img-circle" src="../../assets/images/section-10.jpg" width="180">
            </p>
            <h4>The best bar review at $2,795</h4>
            <form name="footer" method="post" action="/footer-contact-us" class="" novalidate="novalidate">
              <div class="control-group hidden lead_source_page">
                <div class="controls">
                  <input type="text" id="footer_sourcePage" name="footer[sourcePage]" required="required" value="long-form-landing-page">
                </div>
              </div>
              <div class="control-group hidden lead_interested_in">
                <div class="controls">
                  <input type="text" id="footer_interestedIn" name="footer[interestedIn]" required="required">
                </div>
              </div>
              <div class="control-group hidden lead_interested_where">
                <div class="controls">
                  <input type="text" id="footer_interestedWhere" name="footer[interestedWhere]" required="required">
                </div>
              </div>
              <div class="input-group lead_email">
                <div class="controls">
                  <input type="email" id="footer_email" name="footer[email]" required="required" placeholder="Email Address" class="string email optional form-control">
                </div>
      
                <span class="input-group-btn">
                  <button type="submit" id="footer_save" name="footer[save]" class="btn btn btn-primary">Submit</button>
                </span>
              </div>
            <input type="hidden" id="footer__token" name="footer[_token]" value="AD2RyCMywmoBM-N45BluPJRj_4iVCFdlP4fQ7AbFzug"></form>
            </div>
      
        <div class="col-sm-4">
          <p>
            <img alt="We are here to help you pass the bar" class="hidden-sm hidden-xs img-circle" src="../../assets/images/section-9.jpg" width="180">
          </p>
          <h4>Looking for something?</h4>
          <p>
            <a href="tel:8888436476" class="btn btn-default hidden-sm hidden-md hidden-lg">1-888-843-6476</a>
            <a href="" class="btn btn-default hidden-xs">Contact Us</a>
          </p>
        </div>
        <!-- END 3 COL CALLOUTS -->
      </div>
</div>