<div class="jumbotron has--padding_ten is--white_text is--llm_bar_review">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Themis LL.M. Advantage™</h1>
          <h2>Extended Bar Exam Preparation Designed Specifically for LL.M. Students</h2>
          <p>
            <a class="btn btn-warning-reversed" href="https://youtu.be/tsKLgtTRpWc" target="_blank">LEARN MORE</a>
            <a class="btn btn-warning-reversed" href="/sign_up">Enroll Today</a>
          </p>
        </div>
      </div>
    </div>
  </div>