<footer class="is--site_footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <p>
            ABOUT THEMIS
          </p>
          <ul class="list-unstyled">
            <li><a rel="nofollow" href="/pricing">Course Pricing</a></li>
            <li><a rel="nofollow" href="/demo">Course Features Demo</a></li>
            <li><a rel="nofollow" href="/testimonials">Testimonials</a></li>
            <li><a rel="nofollow" href="/course-information">July 2023 Lecture Schedules</a></li>
            <li><a rel="nofollow" href="/themis-vs-barbri">Themis vs. Barbri</a></li>
            <li><a target="_blank" href="https://mythemis-content.s3.amazonaws.com/Forms/public_interest_scholarship_application_2024.pdf">Public Interest Tuition</a></li>
            <li><a href="/firm-billing">Firm Billing Request</a></li>
            <li><a href="/aba-premium-membership">ABA Premium Membership</a></li>
            <li><a rel="nofollow" href="/faq">FAQs</a></li>
            <li><a target="_blank" href="http://mythemis-content.s3.amazonaws.com/Forms/ADA_Accommodation.Form.pdf">ADA Accommodation Request</a></li>
            <li><a href="/successful-essay-writing-on-the-bar-exam">Successful Essay Writing on the Bar Exam</a></li>
            <li><a href="/boost-your-bar-exam-essay-score">Maximize Your Bar Exam Essay Score</a></li>
            <li><a href="/master-the-bar-exam-in-three-weeks">Can You Master the Bar Exam in Just Three Weeks?</a></li>
            <li><a href="/how-to-approach-the-mpre">How to Approach the MPRE</a></li>
            <li><a rel="nofollow" href="/bar-exam-summer-study-sessions">Bar Exam Summer Study
                Session</a></li>
            <li><a rel="nofollow" href="/videos">Preparing for the bar (video series)</a></li>
            <li><a rel="nofollow" href="/password/edit">Change password</a></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <p>
            FOR 1LS, 2LS, 3LS and UP
          </p>
          <ul class="list-unstyled">
            <li><a href="/pass-the-bar-exam">The bar exam and Themis Bar Review</a></li>
            <li><a href="/mpre">The MPRE &amp; Themis MPRE Review</a></li>
            <li><a href="/law-school-essentials">Law School Essentials <sup>™</sup></a></li>
            <li><a href="/llm-bar-review-course">LLM Advantage</a></li>
          </ul>
          <p>
            GETTING IN TOUCH<br>
            Monday - Friday, 8am - 6pm, Central
          </p>
          <ul class="list-unstyled">
            <li><a rel="nofollow" href="/themis-blog">Blog</a></li>
            <li><a rel="nofollow" target="_blank" href="https://www.facebook.com/ThemisBar">Facebook</a></li>
            <li><a rel="nofollow" target="_blank" href="https://www.linkedin.com/company/themis-bar-review/">LinkedIn</a></li>
            <li><a rel="nofollow" target="_blank" href="https://www.instagram.com/themisbar/">Instagram</a></li>
            <li><a rel="nofollow" target="_blank" href="https://twitter.com/themisbar">Twitter</a></li>
            <li><a href="http://themisbar.freshdesk.com">Our help forums</a></li>
            <li><a href="/contact-us">On the web</a></li>
            <li><a class="tel-link" href="tel:8888436476">888-843-6476</a></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <p>
            JURISDICTIONS
          </p>
          <div class="row">
            <div class="col-sm-6 hidden-xs">
              <ul class="list-unstyled">
                                <li><a href="/pass-the-bar-exam/alabama-bar-exam">Alabama</a></li>
                                <li><a href="/pass-the-bar-exam/alaska-bar-exam">Alaska</a></li>
                                <li><a href="/pass-the-bar-exam/arizona-bar-exam">Arizona</a></li>
                                <li><a href="/pass-the-bar-exam/arkansas-bar-exam">Arkansas</a></li>
                                <li><a href="/pass-the-bar-exam/california-bar-exam">California</a></li>
                                <li><a href="/pass-the-bar-exam/colorado-bar-exam">Colorado</a></li>
                                <li><a href="/pass-the-bar-exam/connecticut-bar-exam">Connecticut</a></li>
                                <li><a href="/pass-the-bar-exam/district-of-columbia-bar-exam">District of Columbia</a></li>
                                <li><a href="/pass-the-bar-exam/florida-bar-exam">Florida</a></li>
                                <li><a href="/pass-the-bar-exam/georgia-bar-exam">Georgia</a></li>
                                <li><a href="/pass-the-bar-exam/hawaii-bar-exam">Hawaii</a></li>
                                <li><a href="/pass-the-bar-exam/idaho-bar-exam">Idaho</a></li>
                                <li><a href="/pass-the-bar-exam/illinois-bar-exam">Illinois</a></li>
                                <li><a href="/pass-the-bar-exam/indiana-bar-exam">Indiana</a></li>
                                <li><a href="/pass-the-bar-exam/iowa-bar-exam">Iowa</a></li>
                                <li><a href="/pass-the-bar-exam/kansas-bar-exam">Kansas</a></li>
                                <li><a href="/pass-the-bar-exam/kentucky-bar-exam">Kentucky</a></li>
                                <li><a href="/pass-the-bar-exam/maine-bar-exam">Maine</a></li>
                                <li><a href="/pass-the-bar-exam/maryland-bar-exam">Maryland</a></li>
                                <li><a href="/pass-the-bar-exam/massachusetts-bar-exam">Massachusetts</a></li>
                                <li><a href="/pass-the-bar-exam/michigan-bar-exam">Michigan</a></li>
                                <li><a href="/pass-the-bar-exam/minnesota-bar-exam">Minnesota</a></li>
                                <li><a href="/pass-the-bar-exam/missouri-bar-exam">Missouri</a></li>
                                <li><a href="/pass-the-bar-exam/montana-bar-exam">Montana</a></li>
                                <li><a href="/pass-the-bar-exam/nebraska-bar-exam">Nebraska</a></li>
                            </ul>
            </div>
            <div class="col-sm-6 hidden-xs">
              <ul class="list-unstyled">
                                <li><a href="/pass-the-bar-exam/nevada-bar-exam">Nevada</a></li>
                                <li><a href="/pass-the-bar-exam/new-hampshire-bar-exam">New Hampshire</a></li>
                                <li><a href="/pass-the-bar-exam/new-jersey-bar-exam">New Jersey</a></li>
                                <li><a href="/pass-the-bar-exam/new-mexico-bar-exam">New Mexico</a></li>
                                <li><a href="/pass-the-bar-exam/new-york-bar-exam">New York</a></li>
                                <li><a href="/pass-the-bar-exam/north-carolina-bar-exam">North Carolina</a></li>
                                <li><a href="/pass-the-bar-exam/north-dakota-bar-exam">North Dakota</a></li>
                                <li><a href="/pass-the-bar-exam/ohio-bar-exam">Ohio</a></li>
                                <li><a href="/pass-the-bar-exam/oklahoma-bar-exam">Oklahoma</a></li>
                                <li><a href="/pass-the-bar-exam/oregon-bar-exam">Oregon</a></li>
                                <li><a href="/pass-the-bar-exam/pennsylvania-bar-exam">Pennsylvania</a></li>
                                <li><a href="/pass-the-bar-exam/rhode-island-bar-exam">Rhode Island</a></li>
                                <li><a href="/pass-the-bar-exam/south-carolina-bar-exam">South Carolina</a></li>
                                <li><a href="/pass-the-bar-exam/south-dakota-bar-exam">South Dakota</a></li>
                                <li><a href="/pass-the-bar-exam/tennessee-bar-exam">Tennessee</a></li>
                                <li><a href="/pass-the-bar-exam/texas-bar-exam">Texas</a></li>
                                <li><a href="/pass-the-bar-exam/utah-bar-exam">Utah</a></li>
                                <li><a href="/pass-the-bar-exam/vermont-bar-exam">Vermont</a></li>
                                <li><a href="/pass-the-bar-exam/virginia-bar-exam">Virginia</a></li>
                                <li><a href="/pass-the-bar-exam/washington-bar-exam">Washington</a></li>
                                <li><a href="/pass-the-bar-exam/west-virginia-bar-exam">West Virginia</a></li>
                                <li><a href="/pass-the-bar-exam/wisconsin-bar-exam">Wisconsin</a></li>
                                <li><a href="/pass-the-bar-exam/wyoming-bar-exam">Wyoming</a></li>
                            </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class="small">
            NCBE<sup>®</sup>, MBE<sup>®</sup>, MPRE<sup>®</sup>, MPT<sup>®</sup> and UBE<sup>®</sup> are trademarks of the National Conference of Bar Examiners. Themis Bar Review is neither endorsed by nor affiliated with NCBE.
            <br>
            © 2023 Themis Bar Review LLC All Rights Reserved.
            <br>
            <a href="/privacy-policy">Privacy</a>
            -
            <a href="/terms">Terms of Use</a>
          </p>
        </div>
      </div>
    </div>
  </footer>