.is--site_footer {
    background: #22649a;
    color: #74b0e1;
    margin-top: 2.5%;
    padding: 5% 0;
}

a {
    color: #74b0e1;
    text-decoration: none;
}

a {
    background-color: transparent;
}