
<div class="row">
    <a href="">
      <div class="floating-button text-center">
        Bill My<br>Employer
      </div>
    </a>
  
    <div class="close-button text-center">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>
  </div>
<!-- {{ include('law_firms/firm_billing_button.html.twig') }} -->
<div class="video-player">
  <a href="#"><i class="glyphicon glyphicon-resize-small"></i></a>
  <!-- <div class="video-wrapper">
    <div class="video">
      <iframe id="myYouTubePlayer" src="" frameborder="0" allowfullscreen="true" autoplay="true"></iframe>
    </div>
  </div> -->
</div>
  <div class="jumbotron is--tall_jumbo is--white_text is--home_banner has--no_marg_btm text-right" style="padding: 12% 0">
    <div class="block-text">
      <div class="col-md-12">
      <div class="row" >
        <div class="col-sm-6 sm-screen" style="margin-left:40px">
          <div class="row is--carousel_one_row" style="flex-direction: row">
            <div class="col-sm-12">
              <img src="assets/images/Themis+UWorld_Inverse_Primary.png"  class="home-logo">
            </div>
          </div>
              <h1 style="font-size: 48px !important; margin-left: 48px">
              Raising the Bar in Bar Prep
              </h1>
              <h1 style="margin-top:0 !important; margin-bottom: 4%; font-size: 26px !important; margin-left: 48px">
                  Everything you need to pass the bar with confidence
              </h1>
              <p style="margin-left: 48px">
                <a class="btn btn-lg btn-primary" href="" style="border-radius: 10px; font-size: 19px; margin-right: 1rem" routerLink="/sign_up">ENROLL NOW</a>
                <a class="btn btn-default btn-lg " href=""style="border-radius: 10px; font-size: 20px">Learn More</a>
              </p>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="highlight_bar">
    <div class="highlight_content">
      <p style=" color: #fff!important; margin: 0!important;padding: 0px">NOW AVAILABLE:</p>
      <div  style="color: white">
        Receive up to $1,100 off your bar review course until September 30, 2023, including free access to UWorld's MBE<sup>®</sup> QBank.
        <a style="color: #efd800" class="yellow-link d-inline-block  pointer" href="">Pricing and Enrollment <i class="fa fa-chevron-right" style="font-size:0.9em; " aria-hidden="true"></i></a>
      </div>
    </div>

  </div>

<div class="container has--padding_five">
  <br>
  <div class="row text-left">
    <div class="col-sm-6">
      <div class="row">
          <div class="col-sm-3 text-center hidden-sm">
            <img class="img-circle hidden-xs" alt="Backed by Science, taught by experts" width="80" src="assets/images/new_4_col_img.png" alt="Example" />
          </div>
          <div class="col-md-8 col-sm-12">
            <h4><a href="">Backed by Science, taught by experts.</a></h4>
            <p>Based on the most current research on memory retention and comprehension, Themis’s lectures are segmented into 15-20 minute chapters specifically to optimize the amount of information you retain.</p>
          </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-3 text-center hidden-sm">
          <img class="img-circle hidden-xs" alt="Study with forward-thinking learning tools" width="80" src="assets/images/new_4_col_img_2.png">
        </div>
        <div class="col-md-8">
          <h4><a href="">Study with forward-thinking learning tools.</a></h4>
          <p>Themis’s online learning platform provides you with the resources you need to study effectively, ensuring you complete as much coursework as possible.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-left">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-3 text-center hidden-sm">
          <img class="img-circle hidden-xs" alt="Get the support you need" width="80" src="assets/images/new_4_col_img_3.png">
        </div>
        <div class="col-md-8">
          <h4><a href="">Get the support you need.</a></h4>
          <p>Your Personal Success Team is composed of a local Themis Director, Attorney Adviser, and a Dedicated Essay Grader who support you, offer their expertise, and encourage you when you need it most.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-3 text-center hidden-sm">
          <img class="img-circle hidden-xs" alt="Conveniently track your progress" width="80" src="assets/images/new_4_col_img_4.png">
        </div>
        <div class="col-md-8">
          <h4><a href="">Conveniently track your progress.</a></h4>
          <p>We offer insightful Performance Analytics so you can gauge how you stack up to other students by question, subject matter, and overall performance.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="is--full_width is--testimonial has--no_marg">
  <div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <blockquote>
            <p>I truly do not think I could have passed without the Themis course. Not only did the course prepare me substantively for the exam, but the built-in reminders for self-care and maintaining a healthy perspective about the exam helped me get through the finish line. I would, without reservation, recommend Themis Bar Review to anyone studying for the bar exam. Trust Themis and trust the Themis process -  they know what they are doing.  </p>
            <footer>
              <em>Victoria S., Passed the Texas Bar Exam with Themis</em>
            </footer>
          </blockquote>
        </div>
        <div class="col-md-offset-2 col-md-8">
      
          <h4 class="text-center"><a class="" rel="nofollow" href="/testimonials">Read what our students have to say about Themis.</a></h4>
        </div>
      </div>
  </div>
</div>

<div class="container hidden">
  <div class="row is--vert_center">
    <div class="col-md-6">
      <h3>Published Pass Rates</h3>
      <h4>Themis Bar Review is the only national bar review provider that <a href="">publishes its pass rates in every jurisdiction.</a></h4>
      <p>
        Themis is the only national bar review course that publishes its pass rates – in every single state where Themis offers a bar review course.
      </p>
    </div>
    <div class="col-md-6 text-center">
      <img class="img-circle hidden-sm hidden-xs" src="assets/images/section-1.jpg" alt="Pass Rates" width="300">
    </div>
  </div>
</div>

<div class="has--blue_gradient">
  <div class="has--themis_bg">
    <div class="container has--padding_five is--white_text">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              <h3 style="font-size: 26px; font-weight: bold !important;">Effective</h3>
              <ul class="list-unstyled">
                <li>
                  <p>
                    Uses best study methodologies.
                  </p>
                </li>
                <li>
                  <p>
                    Lecturers and experts from top institutions.
                  </p>
                </li>
                <li>
                  <p>
                    Your own Attorney Adviser.
                  </p>
                </li>
                <li>
                  <p>
                    Unmatched Customer Support.
                  </p>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <h3 style="font-size: 26px; font-weight: bold !important;">Comprehensive Quality</h3>
              <ul class="list-unstyled">
                <li>
                  <p>
                    Video lectures with substantive outlines and assessment quizzes on every testable subject.
                  </p>
                </li>
                <li>
                  <p>
                    Over 4,000 MBE-Style Practice Questions, including all available licensed NCBE questions from past bar exams.
                  </p>
                </li>
                <li>
                  <p>
                    Hundreds of practice essays with unlimited grading.
                  </p>
                </li>
                <li>
                  <p>
                    Workshops on test-taking strategies.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h3 style="font-size: 26px; font-weight: bold !important;">Flexible and Personalized</h3>
          <ul class="list-unstyled">
            <li>
              <p>
                Task-by-task daily calendar adjusted to your pace.
              </p>
            </li>
            <li>
              <p>
                Diagnostic assessments that identify strengths and weaknesses.
              </p>
            </li>
            <li>
              <p>
                On-demand video and study materials available across all your devices.
              </p>
            </li>
            <li>
              <p>
                Personalized advice and feedback
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row has--padding_ten text-center">
    <div class="row">
      <div class="col-md-12">
        <img class="img-circle hidden-sm hidden-xs" src="assets/images/section-15.jpg" alt="Helpful Articles" width="300">
        <br>
        <br>
        <h2>Learn more about why Themis works.</h2>
      </div>
    </div>

    <div class="col-md-6">
      <h4><a href="" rel="nofollow" name="Themis Methodology">Our Methodology</a></h4>
      <p>
        Themis is built at the intersection of instructional design research and decades of experience with the bar exam. Our Prime – Present – Practice framework is designed to keep your attention and processing power focused on the task at hand: preparing for the bar exam.
      </p>
    </div>
    <div class="col-md-6">
      <h4><a href="" rel="nofollow" name="Our Research">Our Research</a></h4>
      <p>
        Years of research across fields like cognitive science, educational psychology, and multimedia learning have yielded foundational instructional design principles for teaching and learning in an online environment. We’ve created this research base to show you why Themis works the way it does, and why we believe that the Themis methodology is the best way to prepare for the bar exam.
      </p>
    </div>
  </div>
</div>

<div class="is--full_width is--testimonial has--no_marg">
  <div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <blockquote>
            <p>As much as one can enjoy bar prep, I really did enjoy this program. After speaking with students who took other commercial bar prep classes, I felt that Themis most closely related to the actual exam day and most adequately prepared their students. I would absolutely recommend Themis to future law students.</p>
            <footer>
              <em>Kathleen P., Passed the Pennsylvania Bar Exam with Themis</em>
            </footer>
          </blockquote>
        </div>
        <div class="col-md-offset-2 col-md-8">
      
          <h4 class="text-center"><a class="" rel="nofollow" href="/testimonials">Read what our students have to say about Themis.</a></h4>
        </div>
      </div>
  </div>
</div>

<app-three-choice-per-footer></app-three-choice-per-footer>


